*
!.gitignore
!p10k.sh
README.md
.zshrc
!.zsh
!.zsh/*
!.wezterm.lua

!.config

!.config/nvim
!.config/lazygit

!.config/mise
!.config/mise/config.toml
!.config/mise/mise.lock
!setup-mise.sh

!.pi/*
!.pi/agent

!.setup/
!.setup/*
!Dockerfile
!entrypoint.sh
!mise-lock.sh
!docker-build.sh
