[user]
	name = Joe Polny
	email = joepolny@gmail.com
	signingkey = /Users/joe/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/ca2222a87785ab4a440decf032a6398c.pub
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.gitallowedsigners

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true


[core]
	hooksPath = /Users/joe/.githooks
