[submodule ".zsh/pure"]
	path = .zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/joe-p/kickstart.nvim.git
[submodule ".zsh/zsh-vi-mode"]
	path = .zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode/
